/* **********
General styles
********** */

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
}

@font-face {
  font-family: 'GT-Super-Med';
  src: url('../fonts/gt-super-display-medium-trial-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Super-Reg';
  src: url('../fonts/gt-super-display-regular-trial-webfont.woff2') format('woff2');
}

@font-face {
  font-family: 'GT-Super-Light';
  src: url('../fonts/gt-super-display-light-trial-webfont.woff2') format('woff2');
}

:root {
  --header-color: #004d49;
  --subheader-color: #068466;
  --orange-color: #f4805e;
}

.grn-text {
  color: var(--header-color) !important;
}

.grn-text-sub {
  color: var(--subheader-color);
}

.grn-bg {
  background-color: var(--header-color);
}

.orange-bg {
  background-color: var(--orange-color);
}

.serif {
  font-family: 'GT-Super-Reg', serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* **********
Header/Nav styles
********** */

nav.transparent {
  box-shadow: none;
  border-bottom: none;
}

nav a.sidenav-trigger {
  display: block;
}

.user-view .background {
  background-color: red; /* Add a background color for debugging */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* nav icons */
body .sidenav li > a > i {
  margin-right: 15px !important;
  color: black !important;
}

.sidenav-container {
  position: relative;
}

.nav-btm-link {
  position: absolute;
  width: 100%;
  bottom: 60px;
}


/* **********
Home styles
********** */

.home-container {
  display: flex;
  flex-direction: column;
}

.home-text-container {
  text-align: center;
}

.home-text-container h1 {
  font-size: 5.5em;
  line-height: 0.9em;
}

.home-text-container p {
  margin-top: 50px;
  color: var(--header-color);
  font-weight: 300;
  font-size: 1.2em;
}

.landing-img-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.landing-img-container img {
  width: 100%;  
  /* height: 60vh; */
  /* align-self: flex-end; */

  /* height: 100%; */
  /* position: absolute; */
}

.home-btns {
  text-align: center;
  margin-top: 30px;
}

.home-btns a {
  margin: 0 5px;
}

.btn-outline {
  border: solid 1px var(--header-color);
}

.signup {
  background-color: var(--header-color);
  color: white;
}

.org-container {
  text-align: center;
  margin-bottom: 80px;
}

.org-container h1 {
  font-size: 4em;
  margin-bottom: 50px;
}

.orgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  margin-bottom: 50px;
}

.orgs img {
  width: 50%;
}

.org-container p {
  color: var(--subheader-color);
  width: 65%;
  margin: 0 auto;
}

.iphone-container {
  display: flex;

}

.iphone-container img {
  width: 50%;
}

.iphone-text-container {
  display: flex;
}

/* **********
Footer styles
********** */

.homepage-footer {
  bottom: 0;
  width: 100%;
  text-align: center;
  background: linear-gradient(180deg, rgba(6,132,102,1) 0%, rgba(0,77,73,1) 100%);
}

.footer-hero {
  padding: 30px 0 120px 0;
}

.footer-signup {
  background-color: #f4805e;
}

.footer-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 20px;
}

.footer-link-container p {
  font-weight: 100;
}

.footer-link-container a {
  margin-left: 10px;
  color: white;
}


/* **********
prescriptions styles
********** */

.pres-hr {
  margin: 0 0 30px 0;
}

.prescription-cards-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 300px);
}

.prescription-cards-container .card {
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prescription-cards-container .row .col.m7 {
  width: 100%;
  height: 100%;
}

.prescription-cards-container .orange-bg {
  margin-top: 7px;
  height: 50px;
}

.card-image {
  height: 50px;
  background-color: var(--header-color);
  display: flex;
  align-items: center;
}

.card-image img {
  height: 100px;
  object-fit: cover;
}

.card .card-image .card-title {
  padding: 0 24px;
  position: relative;
}

.card .card-content {
  padding: 12px 24px 24px 24px;
}

.card-content .subheader {
  color: grey;
  font-variant: small-caps;
  font-size: 1.2em;
}

.card-content .description {
  color: var(--header-color);
  font-weight: 300;
}

.pres-bg img {
  position: fixed;
  bottom: -40px;
  right: 0;
  z-index: -1;
  width: 70vw;
}

.btn.orange-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91%;
  margin: 7px auto 0;
}


/* **********
care providers styles
********** */

.care-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 300px);
  grid-gap: 10px;
}

.care-container .card {
  color: var(--header-color);
}

.care-container .card .card-content {
  padding: 18px 24px 24px 24px;
}

.care-container .card-title {
  font-weight: 500;
}

.care-container .subheader {
  color: grey;
  font-variant: small-caps;
  font-size: 1em;
}

.care-container .card-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 24px 0 0 0;
  border: none;
}

.care-container .btn.orange-bg {
  width: 100%;
  color: white;
}

.flex-col {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.flex-col {
  flex: 1;
}

.care-footer {
  margin-top: auto;
}


/* **********
login styles
********** */

.login-container {
  width: 20%;
}

/* **********
Signup styles
********** */

.signup-container {
  padding-bottom: 100px;
}


/* **********
Media Queries
********** */

@media only screen and (min-width: 993px) {

  nav a.sidenav-trigger {
      display: block;
  }

  .home-text-container {
    width: 60%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 1300px) {

  .prescription-cards-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .prescription-cards-container .card {
    width: 220px;
  }

  .care-container {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media only screen and (max-width: 900px) {

  .pres-bg img {
    width: 90vw;
  }

  .details-container .row .col.s6 {
    width: 100%;
  }

  .details-container h1 {
    font-size: 3.3em;
    text-align: center;
  }

  .details-container h3 {
    font-size: 2.5em;
    text-align: center;
  }

  .login-container {
    width: 40%;
  }

}

@media only screen and (max-width: 780px) {

  .prescription-cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .care-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {

  .nav-wrapper .right li {
    display: none;
  }

  .orgs {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .home-text-container h1 {
    font-size: 4em;
  }

  .org-container h1 {
    font-size: 3em;
  }

  .footer-hero h1 {
    font-size: 3em;
  }

  .prescription-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .pres-bg img {
    width: 100vw;
  }

  .care-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-link-container {
    flex-direction: column;
  }

  .login-container {
    width: 70%;
  }

}