/* **********
General styles
********** */

body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
}

@font-face {
  font-family: 'GT-Super';
  src: url('fonts/GT-Super-Display-Medium-Trial.otf');
}

:root {
  --header-color: #004d49;
  --subheader-color: #068466;
}

.grn-text {
  color: var(--header-color);
}

.grn-text-sub {
  color: var(--subheader-color);
}

.serif {
  font-family: 'GT-Super', serif;
}


/* **********
Header/Nav styles
********** */

nav.transparent {
  box-shadow: none;
  border-bottom: none;
}

nav a.sidenav-trigger {
  display: block;
}

.user-view .background {
  background-color: red; /* Add a background color for debugging */
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* body .sidenav li > a > i {
  margin-right: 0;
} */

.sidenav-container {
  position: relative;
}

.nav-btm-link {
  position: absolute;
  width: 100%;
  bottom: 60px;
}



/* **********
Footer styles
********** */

.page-footer {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;

  padding: 0;
  font-size: 12px;
  /* background-color: #4f50ff; */
}


/* **********
Home styles
********** */

.home-container {
  display: flex;
  flex-direction: column;
}

.home-text-container {
  /* display: flex; */
  /* flex-direction: column; */
  text-align: center;
}

.home-text-container h1 {
  font-weight: 600;
  font-size: 5.5em;
  line-height: 0.9em;
}

.home-text-container p {
  margin-top: 50px;
  color: var(--header-color);
  font-weight: 300;
  font-size: 1.2em;
}

.landing-img-container {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.landing-img-container img {
  width: 100%;  
  /* height: 60vh; */
  /* align-self: flex-end; */

  /* height: 100%; */
  /* position: absolute; */
}

.home-btns {
  text-align: center;
  margin-top: 30px;
}

.home-btns a {
  margin: 0 5px;
}

.btn-outline {
  border: solid 1px var(--header-color);
}

.signup {
  background-color: var(--header-color);
  color: white;
}

.org-container {
  text-align: center;
  margin-bottom: 80px;
}

.org-container h1 {
  font-weight: 600;
  font-size: 4em;
  /* line-height: 0.9em; */
}

.orgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
}

.orgs img {
  width: 50%;
}

.org-container p {
  color: var(--subheader-color);
}

/* **********
Media Queries
********** */

@media only screen and (min-width: 993px) {

  nav a.sidenav-trigger {
      display: block;
  }

  .home-text-container {
    width: 60%;
    margin: 0 auto;
  }

}

@media only screen and (max-width: 600px) {

  .nav-wrapper .right li {
    display: none;
  }

}